{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-user"></i> Student</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'student_list' %}">
                            <i class="nav-icon icon-puzzle"></i> Student List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'attendance_count' %}">
                            <i class="nav-icon icon-puzzle"></i> Attendance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'student_regi' %}">
                            <i class="nav-icon icon-puzzle"></i> Registration</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-user"></i> Teachers</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'teacher_list' %}">
                            <i class="nav-icon icon-puzzle"></i> Teacher List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_teacher' %}">
                            <i class="nav-icon icon-puzzle"></i> Create New Teacher</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-user"></i> Employees</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'employee_list' %}">
                            <i class="nav-icon icon-puzzle"></i> Employee List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_employee' %}">
                            <i class="nav-icon icon-puzzle"></i> Create Employee</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>

