<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspberry Pi Sonoff</title>
</head>
<body>
<h1><center>Raspberry Pi Sonoff</center></h1>
<div>
	<h2>Relay 1:</h2>
  	<button type="button"><a href="/on">ON</a></button>
	<button type="button"><a href="/off">OFF</a></button>
	<h2>Relay Status : {{status}}</h2>

<br>
</div>
<div>
<br>
<img src="https://gpiozero.readthedocs.io/en/stable/_images/pin_layout.svg">
</div>
</body>
</html>